.container {
    margin: 10px 20% 10px 20%;
    align-self: center;

    h5 {
        align-self: center;
        margin: 2px 30% 2px 40%;
        font-size: large;
    }

    img {
        width: 500px;
        height: 200px;
        object-fit:cover;
        margin: 2px 20% 2px 20%;
    }
}

.add {
    align-self: center;
    margin: 10px 40% 10px 40%;
    width: 250px;
}